* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Verdana', Times, serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

menu,
ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(84, 12, 12);
    color: rgb(255, 255, 255);
    border: 25px solid rgb(0, 0, 0);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}